// $main-color: #521751;
$colors: (main: #521751, secondary: #fa923f);
$border-box: border-box;
$border-default: 0.05rem solid map-get($colors, main);
$center-align: center;
@import "typography.css";

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

html {
  font-size: 94.75%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  @include display-flex();
  flex: {
    direction: column;
    wrap: nowrap;
  }
  align-items: $center-align;
  padding: 3rem 0;
  box-sizing: $border-box;
}

.sass-section {
  border: $border-default;
  background: lighten(map-get($colors, main), 70%);
  padding: 2rem;
  text-align: $center-align;
  width: 90%;
  box-sizing: $border-box;
}

.sass-introduction {
  @extend .sass-section;
  box-shadow: 0.2rem 0.2rem 0.1rem #ccc;

  p {
    margin: 0;
  }
}

.sass-details {
  @extend .sass-section;
  margin: 2rem 0;
}

.section-header {
  border-bottom: $border-default;

  h1 {
    margin: 0 0 1rem 0;
  }
}

.documentation-links {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  li {
    margin: 0.2rem 0;
    background: white;
  }

  .documentation-link {
    text-decoration: none;
    color: map-get($colors, main);
    display: block;
    padding: 0.2rem;
    border: 0.05rem solid map-get($colors, main);

    &:hover,
    &:active {
      color: white;
      background: map-get($colors, secondary);
      border-color: map-get($colors, secondary);
    }
  }
}

@media (min-width: 40rem) {
  html {
    font-size: 125%;
  }

  .container {
    padding: 3rem 0;
  }

  .sass-introduction,
  .sass-details {
    width: 30rem;
  }
}
